<nb-card>
  <nb-card-header [nbSpinner]="loading">
    <!-- {{collectionInfo.collection_name+' - '+collectionInfo.collection_year}}  -->

    <nav aria-label="breadcrumb" class="float-left" [ngClass]="{'invisible': loading}">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/list-collections']" class="text-dark">All Collections</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/list-collections', collectionId]" class="text-dark">{{collectionInfo.collection_name+' - '+collectionInfo.collection_year}}</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/list-collections', collectionId]" class="text-dark">{{collectionInfo.collection_amount}} per tax</a></li>
      </ol>
    </nav>

    <button class="btn btn-outline-dark float-right" [routerLink]="['/list-collections']" >Back</button>
  </nb-card-header>

  <nb-card-body  [nbSpinner]="loading">
    <ng2-smart-table (userRowSelect)="editRow($event)" (edit)="editRow($event)" [settings]="tableSettings" [source]="tableSource">
    </ng2-smart-table>
  </nb-card-body>

  <nb-card-footer>


  <div class="row mt-4 ml-2 mr-2 collection-info">

    <div class="col-3" >
      <div class="alert alert-info text-center" style="min-height: 135px;" role="alert" [nbSpinner]="loading">
        <h4 class="text-info">Total Families</h4>

        <p>
          {{statsInfo.total_families}}
        </p>
      </div>
    </div>

    <div class="col-3">
      <div class="alert alert-primary text-center" role="alert" [nbSpinner]="loading">
        <h4 class="text-primary">Partially Contributed Families</h4>
        <p>
          {{statsInfo.total_contribute_count}}
        </p>
      </div>
    </div>

    <div class="col-3">
      <div class="alert alert-secondary text-center" role="alert" [nbSpinner]="loading">
        <h4 class="text-secondary">Cleared Families</h4>
        <p>
          {{statsInfo.total_cleared_count}}
        </p>
      </div>
    </div>

    <div class="col-3">
      <div class="alert alert-warning text-center" role="alert" [nbSpinner]="loading">
        <h4 class="text-warning">Pending Families</h4>
        <p>
          {{statsInfo.total_families - statsInfo.total_cleared_count}}
        </p>
    </div>
    </div>

    <div class="col-3">
      <div class="alert alert-success text-center" role="alert" [nbSpinner]="loading">
        <h4 class="text-success">Collected Amount</h4>
        <p>
          {{common.currencyFormatter(statsInfo.total_amount)}}
        </p>
      </div>
    </div>

    <div class="col-3">
      <div [routerLink]="['/reports', 'pendings', collectionId]" class="alert alert-danger text-center cursor-pointer" role="alert" [nbSpinner]="loading">
        <h4 class="text-success">Generate Report</h4>
        <p>
          <i class="fa fa-print"></i>
           </p>
      </div>
    </div>

  </div>

</nb-card-footer>


</nb-card>
