<ul class="list-group">
  <h2 class="text-primary mt-1">House Details - {{familyMembers.length}} Members
    <button class="btn btn-outline-dark float-right" [routerLink]="['/list-families']" >Back</button>
  </h2>
  <div class="align-items-center mb-3">
    <div class="row">
      <div class="col-4">
        <div class="list-item-title">
          <label for="family_door_no" class="font-weight-bold">Door No</label>
        </div>
        <div class="list-item-content">
          {{familyDetails.family_door_no}}
        </div>
      </div>
      <div class="col-4">
        <div class="list-item-title">
          <label for="family_door_no" class="font-weight-bold">Family No</label>
        </div>
        <div class="list-item-content">
          {{familyDetails.family_unique_id}}
        </div>
      </div>
      <div class="col-4">
        <div class="list-item-title">
          <label for="family_door_no" class="font-weight-bold">Tax Count</label>
        </div>
        <div class="list-item-content">
         <b> {{familyDetails.family_tax_count}}</b>
        </div>
      </div>
    </div>
</div>

<div class="align-items-center mb-3">
  <div class="list-item-title">
    <label for="family_street_id" class="font-weight-bold">Street Name</label>
  </div>
  <div class="list-item-content">
    {{familyDetails.street_name}}
  </div>
</div>

<div class="align-items-center mb-3">
  <div class="list-item-title">
    <label for="family_comments" class="font-weight-bold">Comments.</label>
  </div>
  <div class="list-item-content">
    {{familyDetails.family_comments==''?'No Comments':familyDetails.family_comments}}
  </div>
</div>

</ul>

<ul class="list-group">
<div class="list-header d-flex mb-3 align-items-center">
  <h2 class="text-primary mt-4 nb-2 float-left">Family Members</h2>
  <button class="btn btn-outline-info ml-4 mt-4" (click)="openPeopleInfo('add', {})">
    <i class="fa fa-plus-circle"></i> Add Member
  </button>
</div>

<div class="row people">

  <div class="col-md-4 col-lg-3 mb-2 member-card" *ngFor="let m of familyMembers">
      <div class="card p-3">
        <span *ngIf="m.people_is_head=='yes'" class="people-head">H</span>
        <img class="rounded-circle m-auto" src="assets/img/{{m.people_gender=='male'?'no-avatar-m':'no-avatar-f'}}.png">
          <h3 class="text-center mt-2 mb-0 people-name cursor-pointer" (click)="openPeopleInfo('view', m)">{{m.people_name}}</h3>
          <div class="profile-options">
            <i class="far fa-trash-alt" (click)="deletePeople(m)"></i>
            <i class="far fa-edit" (click)="openPeopleInfo('edit', m)"></i>
          </div>
          <p class="mb-1"><b>Age: 23</b></p>
          <span *ngIf="m.people_contact!=''" class="mb-1">
            <i class="fa fa-phone pr-3"></i>
            <a href="tel:{{m.people_contact}}">{{m.people_contact}}</a>
          </span>
          <span>
            <i class="fa pr-2 text-hint native-icon float-right" [ngClass]="{'fa-plane': m.people_in_native=='no', 'fa-home':m.people_in_native=='yes'}"></i>
            {{m.people_comments?(m.people_comments.length>30?m.people_comments.substring(0,30)+'...':m.people_comments):'No Comments'}}
          </span>
        </div>
      </div>
</div>
</ul>


<nb-card>
  <nb-card-header>
    All Collections
  </nb-card-header>

  <nb-card-body *ngIf="false" [nbSpinner]="loading" [nbSpinnerMessage]="'Fetching Families details'">
    <!-- <ng2-smart-table (userRowSelect)="selectRow($event)" (create)="createRow()" (edit)="editRow($event)" (delete)="deleteRow($event)" [settings]="tableSettings" [source]="tableSource">
    </ng2-smart-table> -->
  </nb-card-body>

</nb-card>

