.rounded-circle{
  width: 100px;
  height: 100px;
}

.member-card{
  .card{
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
  }

  .people-name{
    font-size: 1.35rem;
  }
}

.people-head{
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 25px 0px;
  background: #d40000;
}

.people-add{
  height: 35px;
  width: 30px;
}

.profile-options{
  position: absolute;
  right: 10px;
  width: 25%;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
}

.profile-options .fa{
  cursor: pointer;
  animation: ease 0.2s;
}

.profile-options .fa:hover{
  transform: scale(1.2);
}

.native-icon{
  font-size: 2rem;
  float: right;
}
