// .formWindow{
//  // min-width: 70%;
// }
nb-list-item{
  //display: unset !important;
  .title {
    h6{
      font-weight: 600;
      margin: unset;
    }
  }

  .content{
    pre{
      background: #efeaea;
      display: block;
    }
  }
}


nb-card-body{
  max-height: 80vh;
  overflow: scroll;
  min-width: 700px;
}
.pdf-icon{
    font-size: 3rem;
    background: #efeaea;
    padding: 30px;
}
.max-height-100{
  max-height: 100px;
}
.color-unset{
  color: unset !important;
}
.dialog-list{
  overflow: unset !important;
}

.heading-trip{
  min-width: 100%;
  display: block;
  color: #0095ff;
  margin-bottom: 23px;
  font-size: 25px;
  background: #f1f1f1;
  padding: 10px;
  border-top: 2px solid;
}
.nb-theme-default nb-option-list{
  min-width: 300px !important;
}
