<nb-card>
  <nb-card-header>
    Manage Families

    <nb-select  class="float-right" placeholder="Select Street" [(ngModel)]="selectedStreet" (selectedChange)="mappingTableData(selectedStreet)">
      <nb-option value="">All Families</nb-option>
      <nb-option [value]="s.id" *ngFor="let s of listStreets">{{s.street_name}}</nb-option>
    </nb-select>
  </nb-card-header>

  <nb-card-body  [nbSpinner]="loading" [nbSpinnerMessage]="'Fetching Families details'">
    <ng2-smart-table (userRowSelect)="selectRow($event)" (create)="createRow()" (edit)="editRow($event)" (delete)="deleteRow($event)" [settings]="tableSettings" [source]="tableSource">
    </ng2-smart-table>
  </nb-card-body>

</nb-card>
