<nb-card accent="info">
  <nb-card-header> Profile</nb-card-header>
  <nb-card-body  [nbSpinner]="loading" nbSpinnerStatus="danger">

    <nb-list *ngIf="dialogAction=='view'" class="dialog-list">


      <nb-list-item *ngIf="dialogData.user_name" class="row">
        <div class="title col-4">
          <h6>Street Name</h6>
        </div>
        <div class="content col-8">
        {{dialogData.user_name}}
        </div>
      </nb-list-item>


    </nb-list>



    <nb-list class="dialog-list" *ngIf="dialogAction=='edit' || dialogAction=='add'">

      <nb-list-item class="row">
        <div class="title col-4">
          <h6>Choose Family</h6>
        </div>
        <div class="content col-8">

          <nb-select placeholder="Choose family" fullWidth (selectedChange)="afterSelectFamily(dialogData.old_detail_family_id)" [(ngModel)]="dialogData.old_detail_family_id">

            <nb-option-group *ngFor="let street of familyGroups" [title]="street.name">
              <nb-option *ngFor="let family of street.children" [value]="family.id">{{family.family_head_name + ' - ' + family.family_unique_id + ' '+ family.family_tax_count +' Tax'}}</nb-option>
              <p *ngIf="street.children==0">No Families</p>
            </nb-option-group>

          </nb-select>

        </div>
      </nb-list-item>

      <nb-list-item class="row">
        <div class="title col-4">
          <h6>Choose Collection</h6>
        </div>
        <div class="content col-8">

          <nb-select placeholder="Choose Collection" fullWidth [(ngModel)]="dialogData.old_detail_collection_id">
            <nb-option *ngFor="let o of listOldCollections" [value]="o.id"> {{o.old_collection_name}} </nb-option>
          </nb-select>

        </div>
      </nb-list-item>

      <nb-list-item class="row">
        <div class="title col-4">
          <h6>Tax Count</h6>
        </div>
        <div class="content col-8">
          <input type="number" [(ngModel)]="dialogData.old_detail_tax_count" nbInput fullWidth status="basic" id="old_detail_tax_count" placeholder="Tax Count">
        </div>
      </nb-list-item>

      <nb-list-item class="row">
        <div class="title col-4">
          <h6>Already Paid</h6>
        </div>
        <div class="content col-8">
          <input type="number" [(ngModel)]="dialogData.old_detail_tax_count" nbInput fullWidth status="basic" id="old_detail_tax_count" placeholder="Tax Count">
        </div>
      </nb-list-item>

      <nb-list-item class="row">
        <div class="title col-4">
          <h6>Comments</h6>
        </div>
        <div class="content col-8">
          <textarea rows="4" nbInput fullWidth [(ngModel)]="dialogData.old_detail_comments" id="old_detail_comments" placeholder="Comments"></textarea>
          <!-- <input type="number" [(ngModel)]="dialogData.old_detail_tax_count" nbInput fullWidth status="basic" id="old_detail_tax_count" placeholder="Tax Count"> -->
        </div>
      </nb-list-item>

    </nb-list>

  </nb-card-body>

  <nb-card-footer *ngIf="dialogAction!='view'">
    <div class="mt-3">
      <button nbButton outline (click)="closeWindow()" status="danger" [disabled]="loading">Cancel</button>
      <button class="ml-3" nbButton outline (click)="submitFormResults()" status="primary" [disabled]="loading">{{dialogAction=='edit'?'Update': 'Add'}}</button>
    </div>
  </nb-card-footer>
</nb-card>
