// .formWindow{
//  // min-width: 70%;
// }
nb-list-item{
  //display: unset !important;
  .title {
    h6{
      font-weight: 600;
      margin: unset;
    }
  }

  .content{
    pre{
      background: #efeaea;
      display: block;
    }
  }
}

nb-calendar{
  nb-card-body{
    max-height: unset !important;
    overflow: unset !important;
    min-width: unset !important;
  }
}

// nb-card-body{
//   max-height: 80vh;
//   overflow: scroll;
//   min-width: 700px;
// }
.dialog-list{
  overflow: unset !important;
}
.max-height-100{
  max-height: 100px;
}
.color-unset{
  color: unset !important;
}


.nb-theme-default nb-option-list{
  min-width: 300px !important;
}

.oldcollection-info{
  h4{
    font-size: 1.2rem;
  }
  p{
    font-size: 1.5rem;
    color: #8a4040;
  }
  .col-3{
    cursor: pointer;
  }
}

.outline{
  outline: auto;
}
