/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

@import './../node_modules/@nebular/theme/styles/prebuilt/default.css';

i.far, i.fa{
  transition: all 0.2s;
  &:active{
    transform: scale(1.15);
  }
}
// i.far:active, i.fa:active
