// .formWindow{
//   min-width: 80%;
// }
  .times{
    width: 100%;
    color: red;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .check{
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    color: green;
    cursor: pointer;
  }

  .nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action{
  font-size: 1.3rem !important;
}

.fa{
  font-size: 1.15rem;
}

.oldcollection-info{
  h4{
    font-size: 1.2rem;
  }
  p{
    font-size: 1.5rem;
    color: #8a4040;
  }
}
