nb-list-item{
  .title {
    h6{
      font-weight: 600;
      margin: unset;
    }
  }

  .content{
    pre{
      background: #efeaea;
      display: block;
    }
  }
}


nb-card-body{
  max-height: 80vh;
  overflow: scroll;
  min-width: 700px;
}
.dialog-list{
  overflow: unset !important;
}
